name: ${PROJECT_NAME}
services:
  postgres:
    image: postgres:18.1-alpine
    container_name: ${PROJECT_NAME}-db
    restart: always
    volumes:
      - project-data-v18:/var/lib/postgresql/data
      - ./_entrypoint:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_APP_USER=${POSTGRES_APP_USER}
      - POSTGRES_APP_PASSWORD=${POSTGRES_APP_PASSWORD}
      - TZ=Asia/Bangkok
    networks:
      - project-net
    command: ["-c", "timezone=Asia/Bangkok"]

  minio:
    image: minio/minio:latest
    container_name: ${PROJECT_NAME}-minio
    restart: always
    volumes:
      - minio-data:/data
      - ./_entrypoint/init_minio.sh:/docker-entrypoint-init.d/init_minio.sh:ro
    ports:
      - "9000:9000"
      - "9090:9090"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - OBJ_BUCKET=${OBJ_BUCKET}
    command: server /data --console-address ":9090"
    networks:
      - project-net

  clouldflare:
    image: cloudflare/cloudflared:latest
    container_name: ${PROJECT_NAME}-cloudflare
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - project-net

volumes:
  project-data-v18:
    name: ${PROJECT_NAME}-project-data-v18
  minio-data:
    name: ${PROJECT_NAME}-minio-data
networks:
  project-net:
    name: ${PROJECT_NAME}-project-net